.about-container {
  padding: 0 1.5rem;
}

.about-wrapper {
  flex-direction: column;
}

picture {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-figure {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img {
  border-radius: 24px;
  width: 100%;
}

.about-left {
  position: relative;
}

.about-left,
.about-figure,
.about-img {
  height: auto;
  object-fit: contain;
  max-height: 90vh;
}

.about-title {
  text-align: center;
  margin-bottom: 24px;
  font-size: 3rem;
  color: var(--accent-color);
}

.about-text {
  margin-bottom: 12px;
  font-size: large;
}

.about-text-last {
  margin-bottom: 0;
}

@media screen and (min-width: 640px) {
  .about-container {
    padding: 0 2.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .about-wrapper {
    flex-direction: row;
    align-items: center;
  }

  .about-left {
    width: 45%;
    height: auto;
  }

  .about-figure {
    height: 100%;
  }

  .about-left,
  .about-figure {
    max-height: 80vh;
  }

  .about-img {
    width: 100%;
    height: auto;
    max-height: 80vh;
    object-fit: cover;
    display: block;
    border-radius: 24px;
  }

  .about-right {
    width: 55%;
  }

  .about-title {
    text-align: left;
  }

  .about-text {
    font-size: larger;
  }

  .about-text {
    margin-bottom: 18px;
  }
}

@media screen and (min-width: 1280px) {
  .about-left {
    width: 40%;
  }

  .about-right {
    width: 60%;
  }

  .about-img {
    width: 90%;
  }
}

@media screen and (min-width: 1536px) {
  .about-left {
    width: 35%;
  }

  .about-right {
    width: 65%;
  }

  .about-img {
    width: 90%;
    max-height: 100%;
  }

  .about-text {
    font-size: 1.5rem;
  }
}
