.contact-title {
  color: var(--accent-color);
  margin: 0 12px;
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.field-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.label-shadow {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

.input {
  width: 320px;
  border-radius: 24px;
  border: 1px solid #d1e2f2;
  padding: 12px 24px;
  background-color: #d1e2f2;
  outline: none;
  color: var(--blue-text-color);
  font-size: 1.2rem;
}

.input.invalid {
  border: 2px solid red;
}

.input:focus,
.input:hover,
.input:active {
  background-color: #eef4fb;
  box-shadow: inset 0 2px 20px rgba(101, 197, 242, 0.3);
}

input::placeholder,
textarea::placeholder {
  color: var(--blue-text-color);
  opacity: 1;
}

.submit-modal {
  background-color: rgba(95, 131, 166, 0.8);
}

@media screen and (min-width: 575px) {
  .input {
    width: 500px;
  }
}

@media screen and (min-width: 768px) {
  .input {
    width: 640px;
  }
}

@media screen and (min-width: 1024px) {
  .input {
    width: 900px;
  }
}
