#testimonials {
  position: relative;
  background-image: url(/images/testimonials.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 74vh;
  margin: 0 auto;
  overflow: hidden;
  z-index: 0;
}

#testimonials::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(14, 26, 36, 0.1);
  z-index: 1;
}

.testimonials-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding: 28vh 1.5vh 1.5vh 1.5vh;
}

.testimonials-title {
  position: relative;
  z-index: 2;
  color: var(--accent-color);
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  margin: 0 12px;
}

.testimonial-info {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.testimonials-item {
  border-radius: 24px;
  background-color: var(--dark-background);
  color: var(--white-text-color);
}

.testimonial-text {
  text-align: center;
  font-size: large;
  font-family: DM Sans, sans-serif;
}

.testimonial-modal {
  background-color: rgba(95, 131, 166, 0.8);
}

.swiper {
  padding-left: 1.25rem !important;
  padding-right: 1.25rem !important;
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--light-background) !important;
  top: 30% !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-weight: bolder;
  font-size: 2.5rem !important;
}

.swiper-pagination-bullet-active {
  background: var(--light-background) !important;
}

.input-modal {
  border-radius: 24px;
  border: 1px solid var(--dark-background);
  background-color: rgba(226, 241, 248, 0.2);
  padding: 12px 24px;
  outline: none;
  color: var(--blue-text-color);
  font-size: 1.2rem;
  box-shadow: inset 0 2px 10px rgba(101, 197, 242, 0.3);
}

.input-modal:focus,
.input-modal:hover,
.input-modal:active {
  background-color: #eef4fb;
  box-shadow: inset 0 2px 20px rgba(101, 197, 242, 0.3);
}

.submit-modal {
  background-color: rgba(95, 131, 166, 0.8);
}

@media screen and (min-width: 1536px) {
  .testimonial-text {
    font-size: 1.5rem;
  }
}
